.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/

.venv/
transport_bi_system/.venv/

.env
transport_bi_system/.env

logs/*.log
transport_bi_system/logs/*.log

models/*.joblib
transport_bi_system/models/*.joblib

data/raw/*
data/processed/*
transport_bi_system/data/raw/*
transport_bi_system/data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!transport_bi_system/data/raw/.gitkeep
!transport_bi_system/data/processed/.gitkeep

reports/*
transport_bi_system/reports/*
!reports/.gitkeep
!transport_bi_system/reports/.gitkeep
